<ion-view>
<style>
        .centro{
            margin: 0 auto; 
            width:50px;
            position: relative;
            text-align: center;
        }
        .iconoNivelPasado{
            width: 80px;
            height: 80px;
            background-color: #CBDA6D;
            border-radius: 50px;
            border: 2px solid #34495E;
        }
        .iconoNivelBloqueado{
            width: 80px;
            height: 80px;
            background-color: #ECF0F1;
            border-radius: 50px;
            border: 2px solid #FFF;
        }
        .iconoSiguienteNivel{
            width: 80px;
            height: 80px;
            background-color: #ECF0F1;
            border-radius: 50px;
            border: 2px solid #34495E;
        }
        /*.iconoPasado{
            position:absolute;
            left:50%;
            top:50%;
            font-size: 35px;
            opacity: 0.2;
            transform:translate(-50%, -55%);
              -webkit-transform:translate(-50%, -55%);
              -moz-transform:translate(-50%, -55%);
        }*/
        .iconoBloqueado{
            position:absolute;
            left:50%;
            top:50%;
            font-size: 35px;
            color: #777887;
            transform:translate(-50%, -55%);
              -webkit-transform:translate(-50%, -55%);
              -moz-transform:translate(-50%, -55%);
        }
        /*.iconoSiguiente{
            position:absolute;
            left:50%;
            top:50%;
            font-size: 35px;
            opacity: 0.2;
            transform:translate(-50%, -55%);
              -webkit-transform:translate(-50%, -55%);
              -moz-transform:translate(-50%, -55%);
        }*/
        .iconoNivelPasado:hover{
            background-color: rgba(203, 217, 109, 0.82);
        }
        .iconoSiguienteNivel:hover{
            background-color: #E2E7E8;
        }
        a:link{
            text-decoration: none;
            color: black;
        }
        a:visited{
            text-decoration: none;
            color: black;
        }
        .nivel{
            font-size: 15px;
            margin-top: 16px;
            color: black;
        }
        .numero{
            font-size: 35px;
            margin-top: 26px;
            font-weight: bold;
            color: black;
        }
  
    </style>
    <ion-content class="has-tabs-top padding background-login">

        <div class="row padding">
            <div class="col col-50 links">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a ng-click="" class="nivel">
                    <div class="nivel2 centro">
                        <i></i>
                        <p></p>
                        <div></div>
                    </div>
                </a>
            </div>
        </div>

    </ion-content>

</ion-view>